:root {
    font-family: 'Play', sans-serif;
}

*, *::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

header {
    width: 100%;
}

nav {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
    position: fixed;
    top: 0;
    padding-top: 1.5rem;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

.text-center {
    text-align: center;
}

.text-xs {
    font-size: .75rem;
}

.right-side {
    text-align: right;
}

.font-semibold {
    font-weight: 600;
    font-size: .75rem;
}

.font-bold {
    font-weight: 700;
    font-size: 1.25rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
}

.flex-row {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.border-bottom {
    border-bottom: 1px solid gray;
}

.avant-header {
    font-size: 4vw;
    width: 100%;
    transition: font-size 0.3s ease;
}

.avant-header.shrunk {
    font-size: 2.5vw;
}

.main-product-page {
    width: 100%;
    max-width: 90%;
    margin: 2.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
    cursor: default;
    margin-top: 1rem;
}

.main-checkout-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 90%;
    margin: 0 auto;
    height: 100dvh;
}

.image-section {
    width: 100%;
    max-width: 37.5rem;
}

.checkout-info-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 500;
}

.checkout-info-section h1 {
    font-size: 2.5rem;
}

.buttons button {
    padding: .5rem 1rem;
    cursor: pointer;
}

.price {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.price p {
    font-size: 1.5rem;
}

.price span {
    font-size: .8rem;
}

.select-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.select-buttons label, .select-buttons input {
    cursor: pointer;
}

.select-containers {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.checkout-info-buttons {
    display: flex;
    gap: 1rem;
}

.checkout-info-buttons button,
.express-buttons button,
.review-order-button {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    width: 100%;
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.express-buttons button {
    color: black;
    background-color: oldlace;
    outline: 0;
    border: 0;
    border-radius: .5rem;
}

.avant-checkout-header {
    position: relative;
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: left;
    font-size: 1rem;
}

.avant-checkout-header h1 {
    padding-bottom: .5rem;
    font-weight: 600;
    font-size: 1rem;
}

.cart-add a {
    color: black;
    text-decoration: none;
}

.order-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-summary-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.total-payment-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
}

.sub-payment-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.info-labels p {
    font-weight: 600;
}

.form-flex-col {
    display: flex;
    flex-direction: column;
    gap: 1.575rem;
}

.pseudo-input {
    border: 1px solid gray;
    padding: .75rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    appearance: none;
    border-radius: .5rem;
    width: 100%;
    position: relative;
}

.pseudo-input input {
    outline: 0;
    border: 0;
    width: 80%;
}

.pseudo-input:after {
    content : "MAD 502.00";
    position: absolute;
    right: .5rem;
}

.checkout-input {
    padding: .75rem;
    width: 100%;
    border-radius: .5rem;
    border-color: gray;
    border-width: .1rem;
}

.checkout-input:focus-visible,
.checkout-input:focus {
    outline: 0;
}

.card {
    background-color: hsla(0, 0%, 0%, .045);
    padding: .5rem .75rem;
    border-radius: .575rem;
}

.card p {
    font-weight: 600;
}

.link-list {
    display: flex;
    gap: .75rem;
    margin-bottom: 2rem;
}

.link-list a {
    text-decoration: underline;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.main-product-image {
    width: 100%;
    border-radius: 2rem;
}

@media screen and (max-width: 56.25rem) {
    .image-section {
        max-width: 100%;
    }

    .mobile-image {
        width: 100%;
        min-height: 28rem;
    }

    .mobile-flex-row {
        flex-direction: row;
    }

    .mobile-flex-col {
        flex-direction: column;
    }

    .main-product-page,
    .main-checkout-page {
        grid-template-columns: 1fr;
    }

    .checkout-info-section {
        gap: 1rem;
    }

    .checkout-info-section h1 {
        font-size: 2rem;
    }
}